@import './base.css';

#app {
  max-width: 1440px;
  min-height: 1024px;
  background-color: var(--black);
  margin: 0 auto;
  font-weight: normal;
  color: var(--white);
}

body {
  margin: 0 auto;
}

a {
  all: unset;
}
